# ========================
# Frontend Isolation (Корень)
# ========================
node_modules/
bun.lock
package.json

# ========================
# .NET / ASP.NET Core
# ========================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Переменные окружения — НИКОГДА не коммить
.env
.env.local
appsettings.Development.json

# ========================
# IDEs (Rider / VS)
# ========================
.idea/
*.iml
*.ipr
*.iws
.vs/
*.rsuser

# ========================
# База данных
# ========================
*.db
*.sqlite
*.sqlite3

# ========================
# OS
# ========================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# ========================
# Логи и специфичные файлы
# ========================
*.log
logs/
MediTrack.API/global.json
MediTrack.API/MediTrack.API.csproj.DotSettings